node_modules
.next
.swc
out
dist
build
coverage
playwright-report
test-results
.turbo

.env
.env.*
.env*.local
.env.production
.env.development

public/version.json
tsconfig.tsbuildinfo
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

.DS_Store
Thumbs.db
