BASE_URL=http://localhost:3000

# path to the menu page for guest checkout flow (change to the available tenant id)
MENU_PATH=/menu/:tenantId
CHECKOUT_PATH=/checkout/:tenantId

# Non Generated Business Data
BUSINESS_NAME="Business 1"
FIRST_NAME=Owner
LAST_NAME="Business 1"
EMAIL=owner.business1@yopmail.com
PASSWORD=yourpassword